{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "overrides":[
        {   
            "files": ["*.ts"],
            "extends": ["eslint:recomended","plugin:@typescript-eslint/recomended"],
            "parserOptions": {"project":["./tsconfig.json"]}
        }
    ],
    "plugins":["@typescript-eslint"],
    "rules":{
        "@typescript-eslint/strict-boolean-expressions":[
            2,
            {
                "allowString":false,
                "allowNumber":false
            }
        ]
    },
    "ignorePatterns": ["*!.*","dist","build","node_modules",".yarn"]
}